<% provide(:title, "Curriculum Vitae (CV)") %>
<% provide(:description, "Curriculum Vitae (CV) of Kevin Scott Dias of Tochigi, Japan") %>
<% provide(:keywords, "BiFluent, Putter King, Ruby on Rails") %>

<div class="row">
  	<div class="span12">
		<%= render 'shared/resume_header' %>
		<%= render 'shared/education' %>
	 	<%= render 'shared/work_experience' %>
	 	<%= render 'shared/skills' %>
	 	<%= render 'shared/consulting' %>
	 	<%= render 'shared/clubs' %>
	</div>
</div>		

<div id="modal-from-dom" class="modal fade video_modal"></div>
<script type="text/html" id="modal_contents">
  <iframe width="640" height="480" src="https://www.youtube.com/embed/bPlvT5VRlP4?autoplay=1" frameborder="0" allowfullscreen></iframe>
</script>