<h2>Clubs and Hobbies</h2>
<table class="table table-hover table-bordered">
  	<tbody>
    	<tr>
	      	<td><%= link_to "Wake Forest in Japan", "https://www.facebook.com/wfuinjapan" %> Alumni Club</td>
	      	<td class="table_right">January 2011 - Present</td>
    	</tr>
    	<tr>
	      	<td colspan="2">
	      		<ul>
	      			<li>
	      				Help manage all aspects of the club including the planning of events, member recruitment, as well as the clubs social media channels
		      			</li>
	      			<li>
	      				Applied for and won $500 Innovation Fund grant from the Wake Forest University Alumni Council Innovation Fund Selection Committee
	      			</li>		
	      		</ul>
	      	</td>
    	</tr>
    	<tr>
	      	<td>
	      		Cycling
	      	</td>
	      	<td class="table_right">2000 – Present</td>
    	</tr>
    	<tr>
    		<td colspan="2">
		      	<ul>
	      			<li>
	      				Typically ride 2000km+ per year
	      			</li>
	      			<li>
	      				In 2012 competed in the <%= link_to "Tour de Nikko", "http://tour-de-nikko.com" %>, <%= link_to "Tour de Gunma - Uenomura Hill Climb", "http://user.uenomura.ne.jp/ueno2584/cycle/" %>, <%= link_to "Utsunomiya Cycle Picnic", "http://www.cyclepicnic.com" %> and the <%= link_to "Nasukougen Longride", "https://www.facebook.com/nasukougenlongride" %>
	      			</li>	
	      			<li>
	      				In 2013 competed in the <%= link_to "Nasukougen Longride", "https://www.facebook.com/nasukougenlongride" %> and the <%= link_to "Otaki Mountain Bike Race", "http://www.powersports.co.jp/sda/13_otaki_bike_9/42km.pdf" %>
	      			</li>		
	      		</ul>
	      	</td>	
    	</tr>
  	</tbody>
</table>