<h2>Skills</h2>
<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>	
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
    <span class="sr-only">90%</span>
  </div>
</div>
<%= link_to "JavaScript", "http://en.wikipedia.org/wiki/JavaScript" %> / <%= link_to "jQuery", "http://jquery.com" %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
    <span class="sr-only">75%</span>
  </div>
</div>
<%= link_to "HTML5", "http://en.wikipedia.org/wiki/HTML5" %> / <%= link_to "CSS3", "http://en.wikipedia.org/wiki/Cascading_Style_Sheets" %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
    <span class="sr-only">90%</span>
  </div>
</div>
<%= link_to "Adobe Photoshop", "http://en.wikipedia.org/wiki/Adobe_Photoshop" %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
    <span class="sr-only">95%</span>
  </div>
</div>
<%= link_to "Adobe Illustrator", "http://en.wikipedia.org/wiki/Adobe_Illustrator" %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
    <span class="sr-only">55%</span>
  </div>
</div>
<%= link_to "Microsoft Office", "http://en.wikipedia.org/wiki/Microsoft_Office" %> (Excel, Word, PowerPoint, Access)
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
    <span class="sr-only">99%</span>
  </div>
</div>
<%= link_to "PostgreSQL", "http://www.postgresql.org" %> / <%= link_to "SQLite", "http://www.sqlite.org" %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
    <span class="sr-only">65%</span>
  </div>
</div>
Japanese (<%= link_to "JLPT", "http://www.jlpt.jp/e/" %> Level N3)
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60%</span>
  </div>
</div>