<h2>Skills</h2>
<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
<div class="progress">
		<div class="bar" style="width: 90%;"></div>
</div>	
<%= link_to "JavaScript", "http://en.wikipedia.org/wiki/JavaScript" %> / <%= link_to "jQuery", "http://jquery.com" %>
<div class="progress">
		<div class="bar" style="width: 75%;"></div>
</div>
<%= link_to "HTML5", "http://en.wikipedia.org/wiki/HTML5" %> / <%= link_to "CSS3", "http://en.wikipedia.org/wiki/Cascading_Style_Sheets" %>
<div class="progress">
		<div class="bar" style="width: 90%;"></div>
</div>
<%= link_to "Adobe Photoshop", "http://en.wikipedia.org/wiki/Adobe_Photoshop" %>
<div class="progress">
		<div class="bar" style="width: 95%;"></div>
</div>
<%= link_to "Adobe Illustrator", "http://en.wikipedia.org/wiki/Adobe_Illustrator" %>
<div class="progress">
		<div class="bar" style="width: 55%;"></div>
</div>
<%= link_to "Microsoft Office", "http://en.wikipedia.org/wiki/Microsoft_Office" %> (Excel, Word, PowerPoint, Access)
<div class="progress">
		<div class="bar" style="width: 99%;"></div>
</div>
<%= link_to "PostgreSQL", "http://www.postgresql.org" %> / <%= link_to "SQLite", "http://www.sqlite.org" %>
<div class="progress">
		<div class="bar" style="width: 65%;"></div>
</div>
Japanese (<%= link_to "JLPT", "http://www.jlpt.jp/e/" %> Level N3)
<div class="progress">
		<div class="bar" style="width: 60%;"></div>
</div>