<h2>Work Experience</h2>
<table class="table table-hover table-bordered">
  	<tbody>
  		<tr>
	      	<td><%= link_to(image_tag("bifluent_logo.png", :alt => "BiFluent Logo"), "https://www.bifluent.com") %></td>
	      	<td><%= link_to "BiFluent,", "https://www.bifluent.com" %> Tokyo, Japan</td>

	      	<td>Co-Founder</td>
	      	<td class="table_right">September 2012 – Present</td>
    	</tr>
    	<tr>
	      	<td colspan="4">
	      		<ul>
	      			<li>
	      				Launched company and recruited <%= link_to "2 co-founders", "https://www.bifluent.com/en/about" %>
	      			</li>
	      			<li>
	      				Built <%= link_to "BiFluent web application", "https://www.bifluent.com" %> using Ruby on Rails and JavaScript/jQuery
	      			</li>	
	      			<li>
	      				Pitched business at <%= link_to "Innovation Weekend Grande Finale 2012", "http://www.prweb.com/releases/2012/11/prweb10168921.htm" %>
	      			</li>	
					<li>
						Developed <%= link_to "Vocabulary Coverage Ratio concept", "https://www.bifluent.com/en/vocabulary-assessment-test" %> and corresponding tool for assessing one's true vocabulary level
					</li>
				</ul>		
	      	</td>
    	</tr>
  		<tr>
	      	<td><%= link_to(image_tag("putterking_logo.png", :alt => "Putter King Logo"), "http://www.putterking.com") %></td>
	      	<td><%= link_to "Putter King,", "http://www.putterking.com" %> Tokyo, Japan</td>

	      	<td>Founder</td>
	      	<td class="table_right">December 2010 – Present</td>
    	</tr>
    	<tr>
	      	<td colspan="4">
	      		<ul>
	      			<li>
	      				Raised ¥4,000,000 in initial capital and founded company in December 2010
	      			</li>
	      			<li>
	      				Developed and released <%= link_to "Putter King Adventure Golf app", "http://www.putterking.com/en/app" %> for <%= link_to "iOS", "https://itunes.apple.com/us/app/putter-king-adventure-golf/id456964727?mt=8" %> and <%= link_to "Android", "https://play.google.com/store/apps/details?id=com.putterkingllc.putterking&hl=en" %>
	      			</li>	
	      			<li>
	      				Designed and launched website (<%= link_to "www.putterking.com", "http://www.putterking.com" %>)
	      			</li>	
	      			<li>
						Created various innovate marketing programs that have cultivated brand ambassadors across the globe (<%= link_to "2011 Hole Design Contest", "http://www.putterking.com/en/content/2011-hole-design-contest" %> and <%= link_to "Putter King Scavenger Hunt", "http://www.putterking.com/en/scavenger-hunt" %>)
					</li>
					<li>
						Wrote a comprehensive <%= link_to "234 page business plan (.PDF)", "http://www.slideshare.net/diasks2/putter-king-business-plan" %> and analysis of opening an indoor miniature golf franchise in Japan
					</li>	
					<li>
						Developed <%= link_to "Math", "http://www.putterking.com/en/content/education-math" %> and <%= link_to "Physics", "http://www.putterking.com/en/content/education-physics" %> miniature golf lessons for children and high school students
					</li>	
					<li>	
						Awarded 3rd place in the ʻBest Sports Gameʼ category of the 2011 <%= link_to "Best App Ever Awards", "http://bestappever.com" %> and honorable mention in the ʻBest Kids Gameʼ category
					</li>	
					<li>
						Awarded a 4 out of 5 star rating from prominent game review sites such as <%= link_to "Touch Arcade", "http://toucharcade.com/2011/10/24/putter-king-adventure-golf-review/" %> and <%= link_to "AppAdvice" , "http://appadvice.com/appnn/2011/11/miniature-golf-gets-a-throwback-makeover-play-like-a-1990s-graphic" %> and a 4.5 out of 5 star average consumer rating
					</li>
					<li>
						Built a strong social media following among miniature golf enthusiasts (<%= link_to "Putter King Facebook", "https://www.facebook.com/putterking" %> | <%= link_to "Putter King Twitter", "https://twitter.com/theputterking" %>)
					</li>
				</ul>		
	      	</td>
    	</tr>
    	<tr>
	      	<td><%= link_to(image_tag("aeon_logo.png", :alt => "AEON Corporation Logo"), "http://www.aeonet.co.jp") %></td>
	      	<td><%= link_to "AEON Corporation,", "http://www.aeonet.co.jp" %> Tokyo, Japan</td>

	      	<td>English Teacher</td>
	      	<td class="table_right">October 2008 – October 2012</td>
    	</tr>
    	<tr>
	      	<td colspan="4">
	      		<ul>
	      			<li>
	      				Taught English to students of all levels and ages, including businessmen and businesswomen
	      			</li>
	      			<li>
	      				Designed and created a fully-functioning student database <%= link_to "(watch video)", "#", :class => "video_play", :remote => true %> using the Java programming language in order to:
	      			</li>	
	      			<ul>
	      				<li>
							Centralize and institutionalize all student data
						</li>
						<li>	
							Help teachers provide better student care
						</li>	
						<li>
							Create a multi-lingual, user-friendly system for both the foreign and Japanese staff
						</li>
					</ul>
					<li>
						Created an <%= link_to "online web application", "https://github.com/diasks2/sd_web" %>, written in Ruby on Rails, to help AEON manage student progress for their "Self-Study" program
					</li>	
					<li>
						Designed and marketed several new special courses based on my business experience
					</li>	
					<ul>
	      				<li>
							Prominence of these new business courses helped us to reach our school revenue targets
						</li>
					</ul>
					<li>
						Featured teacher in “Self-Study” marketing brochure distributed nationwide due to my
					</li>
					<ul>
						<li>
							Popularity with students and reputation within AEON Corporation
						</li>	
						<li>
							Sales results for the past “Self-Study” programs (Top 10 throughout Japan for 2 consecutive programs)
						</li>
					</ul>		
				</ul>		
	      	</td>
    	</tr>
    	<tr>
	      	<td><%= link_to(image_tag("pnc_logo.png", :alt => "PNC Bank Logo"), "https://www.pnc.com") %></td>
	      	<td><%= link_to "PNC Capital Markets", "https://www.pnc.com/webapp/unsec/ProductsAndService.do?siteArea=/pnccorp/PNC/Home/Corporate+and+Institutional/Capital+Markets/Asset-Backed+Securities/Asset-Backed+Securities" %> Asset-Backed Securitization Group, Charlotte, NC</td>

	      	<td>Investment Banking Analyst</td>
	      	<td class="table_right">June 2006 – July 2008</td>
    	</tr>
    	<tr>
	      	<td colspan="4">
	      		<ul>
	      			<li>
	      				Part of team responsible for the structuring of all securitized products originated by PNC
	      			</li>
	      			<ul>
	      				<li>
							Experience modeling auto, credit card and corporate loan structured products
						</li>
						<li>	
							Supported the development and expansion of PNC’s proprietary cash flow modeling system
						</li>	
						<li>
							Helped develop, maintain and update PNC’s proprietary data warehouse
						</li>
					</ul>
					<li>
						Worked with members of the origination team to develop pitch books, prepare term sheets and present detailed analysis to PNC’s internal credit group
					</li>	
					<li>
						Responsible for analyzing and pricing PNC’s structured product transactions
					</li>
					<ul>
						<li>
							Designed and wrote proprietary program to automate process of marking-to-market all conduit facilities on a monthly basis
						</li>
					</ul>		
					<li>
						Actively involved in all aspects of new analyst and intern recruiting efforts
					</li>
					<li>
						Designed first summer internship program for the asset-backed securitization group
					</li>	
					<li>
						Mentor junior analysts and interns on the underwriting, structuring, and marketing of asset-backed transactions as well as PNC’s policies and procedures
					</li>	
					<li>
						Responsible for the on-going surveillance of origination team’s portfolio
					</li>
					<li>
						Assisted in review of legal documentation for credit facilities extended by PNC
					</li>
				</ul>		
	      	</td>
    	</tr>
  	</tbody>
</table>