<div class="navbar navbar-static-top">
  <div class="navbar-inner">
   	<%= link_to logo, root_path, :id => "logo" %>
    <ul class="nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "English CV", root_path %></li>
      <li class="<%= 'active' if current_page?(rirekisho_path) %>"><%= link_to "履歴書", rirekisho_path %></li>
    </ul>
<%
=begin %> 
    <ul class="nav pull-right">
      <li><%= link_to(image_tag("bifluent_logo_bw.png", :alt => "BiFluent", :size => "80x40", :class => "logo_margin", :mouseover => "bifluent_logo.png"), "https://www.bifluent.com", :class => "logo_pic") %></li>
      <li><%= link_to(image_tag("putterking_logo_bw.png", :alt => "Putter King", :size => "80x40", :class => "logo_margin", :mouseover => "putterking_logo.png"), "http://www.putterking.com", :class => "logo_pic") %></li>
    </ul>
<%
=end %>    
  </div>
</div>

